{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_css %}

    <title>SEPAcetamol</title>

    <style>
        body {
            padding-top: 1rem;
        }

        h1, h2, h3 {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        footer {
            padding-top: 1rem;
        }
    </style>
</head>

<body>

<main role="main" class="container">

    <h1>SEPAcetamol</h1>

    {% block content %}
    {% endblock %}

</main>

<footer class="container">
    <hr>
    <div class="text-muted">
        <p>
            &copy; {% now "Y" %} Yury V. Zaytsev &mdash;
            <a href="https://github.com/zyv/sepacetamol">GitHub</a> &middot;
            <a href="https://www.linkedin.com/in/yuryzaytsev/">LinkedIn</a>
        </p>
    </div>
</footer>

{% bootstrap_javascript %}

</body>

</html>
