{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>SEPAcetamol</h1>

    <p>
        Download the <a href="{% static "sepa-xml-template.xlsx" %}">wire table template</a>,
        fill in the metadata &amp; transactions and upload it to use the SEPA XML file generator.
    </p>

    <h2>Import transactions</h2>

    <form class="mb-3" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="col-auto mb-3">
            <input type="file" class="form-control" id="source-file" name="source-file"
                   accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Process file</button>
        </div>

    </form>

    {% if source_filename %}
        <h2>Create SEPA XML file</h2>

        <p>Source file: <code>{{ source_filename }}</code>.</p>

        <form class="mb-3" method="post" action="{% url 'generate' %}">

            <input type="hidden" name="target-filename" value="{{ target_filename }}">

            <h3>Sender metadata</h3>

            <div class="row mb-3">
                <label for="originator-name" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="originator-name" name="originator-name"
                           value="{{ originator.name }}" placeholder="honeymeets continuity GmbH" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="originator-iban" class="col-sm-1 col-form-label">IBAN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="originator-iban" name="originator-iban"
                           value="{{ originator.iban }}" placeholder="DE12 3456 7890 1234 5678 90" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="originator-bic" class="col-sm-1 col-form-label">BIC</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="originator-bic" name="originator-bic"
                           value="{{ originator.bic }}" placeholder="AACSDE33" required>
                </div>
            </div>

            <h3>Imported transactions</h3>

            <p><strong>Grand total: {{ grand_total }} €</strong></p>

            {% csrf_token %}

            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">IBAN</th>
                    <th scope="col">BIC</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Reference</th>
                </tr>
                </thead>

                <tbody>

                {% for transaction in transactions %}
                    <tr>
                        <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                        <td>
                            <input type="text" class="form-control" name="transaction-name"
                                   value="{{ transaction.name }}" required>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="transaction-iban"
                                   value="{{ transaction.iban }}" required>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="transaction-bic"
                                   value="{{ transaction.bic }}" required>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="transaction-amount"
                                   value="{{ transaction.amount }}" required>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="transaction-purpose"
                                   value="{{ transaction.purpose }}" required>
                        </td>
                        <td>
                            <input type="text" class="form-control" name="transaction-reference"
                                   value="{{ transaction.reference }}">
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

            <fieldset class="col-auto mb-3">
                <legend class="col-form-label"><strong>Batch booking settings </strong></legend>

                <div class="form-check">
                    <input type="radio" id="batch-false" name="batch-booking" class="form-check-input" value="false"
                           checked>
                    <label class="form-check-label" for="batch-false">Batch booking
                        <code>false</code>, single payment information block</label>
                </div>

                <div class="form-check">
                    <input type="radio" id="batch-true" name="batch-booking" class="form-check-input" value="true">
                    <label class="form-check-label" for="batch-true">Batch booking
                        <code>true</code>, single payment information block</label>
                </div>

                <div class="form-check">
                    <input type="radio" id="batch-single" name="batch-booking" class="form-check-input" value="single">
                    <label class="form-check-label" for="batch-single">Batch booking
                        <code>false</code>, multiple payment information blocks</label>
                </div>
            </fieldset>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Generate SEPA XML file</button>
            </div>

        </form>

    {% endif %}

{% endblock %}